*{
    padding:0;
    margin:0;
    }
    nav{
    background-color: #FF7F99;
    display: flex;
    align-items: center;
    place-items: left;
    justify-content: space-between;
        color: white;
        padding: 25px;
        height: 100px
    }
ul { list-style-type: none;
  }
  nav a {
    float: right;
    margin-right: 2px;
    padding:  8px;
    width: 100px;
  }
body {font-family:  ‘Jost’,
    sans-serif;
}